@model NhutLongCompany.Models.tbl_Config_Step

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_Config_Step</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TenCongDoan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenCongDoan)
                @Html.ValidationMessageFor(model => model.TenCongDoan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DienGiai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienGiai)
                @Html.ValidationMessageFor(model => model.DienGiai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThuTu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThuTu)
                @Html.ValidationMessageFor(model => model.ThuTu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai)
                @Html.ValidationMessageFor(model => model.TrangThai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
