@using NhutLongCompany.Models
@model DonHangView

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>


<script type="text/javascript">
    function loadPopup(el, id) {
        $('#id').val(id);
        $('#begin').val($('#' + id + '_begin').val());
        $('#end').val($('#' + id + '_end').val());
        $('#update_plan').click();
    }
    function updatePlan(el) {
        var id = $('#id').val();
        $('#' + id + '_begin').val($('#begin').val());
        $('#' + id + '_end').val($('#end').val());
        $('#' + id + '').text(reformatDate($('#begin').val()) + ' - ' + reformatDate($('#end').val()));
    }
    function reformatDate(strMMDDYYYY) {
        var arr = strMMDDYYYY.split("/");
        if (arr.length == 3) {
            return arr[1] + "/" + arr[0] + "/" + arr[2]
        }
        return strMMDDYYYY;
    }
    function SubmitUpdatePlan() {
        $("#action").val(6);
        document.forms[0].submit();
    }
    function SubmitUpdateTT() {
        $("#action").val(7);
        document.forms[0].submit();
    }
    function UpdateStatusOrder(status) {
        $('#status').val(status);
        $("#action").val(5);
        document.forms[0].submit();
    }


</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-default">
        <div class="panel-heading">
            Quy trình sản xuất
        </div>
        <div class="panel-body">


            <div class="row form-horizontal">
                <input type="hidden" value="@Model.action" name="action" id="action">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Mã đơn hàng</label>
                        <div class="col-md-8" style="padding-top:7px">
                            @Html.HiddenFor(model => model.code)
                            @Model.code
                            @Html.HiddenFor(model => model.customer_id)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Trạng thái</label>
                        <div class="col-md-8" style="padding-top:7px">
                            @Html.HiddenFor(model => model.status)

                            @if (Model.status == 0)
                            {
                                <span>Hoàn thành báo giá</span>
                            }
                            @if (Model.status == 1)
                            {
                                <span>Đưa vào sản xuất</span>
                            }
                            @if (Model.status == 2)
                            {
                                <span>Kế hoạch sản xuất</span>
                            }
                            @if (Model.status == 3)
                            {
                                <span>Tiến hành sản xuất</span>
                            }
                            @if (Model.status == 4)
                            {
                                <span>Kết thúc sản xuất</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Ngày giao hàng</label>
                        <div class="col-md-8" style="padding-top:7px">

                            @(Model.date_deliver.HasValue ? Model.date_deliver.Value.ToString("MM/dd/yyyy") : "Chưa cập nhập")

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Địa chỉ giao hàng</label>
                        <div class="col-md-8" style="padding-top:7px">
                            @(!String.IsNullOrEmpty(Model.address_deliver) ? Model.address_deliver : "Chưa cập nhập")

                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Thông tin khách hàng</label>
                        <div class="col-md-10" style="padding-top:7px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        @Html.HiddenFor(model => model.customer_id)
                                        <span style="padding-left:7px">@Model.Customer.NameCustomers</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12 form-horizontal">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Mã số</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled class="form-control text-box single-line valid" value="@(Model.Customer != null ? Model.Customer.CodeCustomers : ""  )" id="customer_id_MS">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Công ty</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Cty" value="@(Model.Customer != null ? Model.Customer.CongTyCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Email</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Email" value="@(Model.Customer != null ? Model.Customer.EmailCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Địa chỉ</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Address" value="@(Model.Customer != null ? Model.Customer.DiaChiCustomers : ""  )" class="form-control text-box single-line">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>











                <div class="col-lg-12">
                    <div class="form-group" style="text-align: center">
                        @*@if (Model.status.Value == 1)
                            {
                                <input type="submit" value="Tiếp nhận sản xuất" class="btn btn-primary" onclick=" UpdateStatusOrder(2); return false; " />
                            }*@
                        @if (Model.status.Value == 1)
                        {
                            @*<input type="submit" value="Tiến hành sản xuất" class="btn btn-primary" data-toggle="modal" data-target="#modal-container-ngaythicong" onclick="return false; " />*@
                            <input type="submit" value="Tiến hành sản xuất" class="btn btn-primary" onclick="UpdateStatusOrder(3); return false;" />


                        }
                        @if (Model.status.Value == 3)
                        {
                            <input type="submit" value="Kết thúc sản xuất" class="btn btn-primary" onclick="UpdateStatusOrder(4);return false;" />
                        }
                        @if (Model.status.Value == 4)
                        {
                            <input type="submit" value="Kết thúc đơn hàng" class="btn btn-primary" onclick="UpdateStatusOrder(5);return false;" />
                        }
                        <a class="btn btn-primary" href="@Url.Action("ThongTinDonHang", "tbl_OrderTem")">
                            Quay lại
                        </a>
                    </div>

                </div>
            </div>
            <!-- /.row (nested) -->


        </div>
    </div>
    if (Model.status >= 3)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span style="margin-left: 10px; line-height: 33px">Cập nhật kế hoạch sản xuất</span>
                   
                    @if (Model.status == 4)
                    {
                        <input type="submit" style="float: right; margin-right: 10px" value="Cập nhật" class="btn btn-primary" onclick="SubmitUpdateTT();return false;" />
                        <button type="button" style="display:none" id="update_plan" class="btn btn-danger" data-toggle="modal" data-target="#modal-container-donhang">Thêm Ngày</button>
                    }

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="dataTable_wrapper">
                            <table class="table table-bordered ">
                                <tbody>
                                    @for (int j = 0; j < Model.BaoGiaTemView.BaoGiaTemDetailViews.Count; j++)
                                    {

                                        var count = 0;
                                        var item = Model.BaoGiaTemView.BaoGiaTemDetailViews[j];
                                        if (j == 0)
                                        {

                                            <tr>

                                                @for (int i = 0; i < item.QuyTrinhs.Count; i++)
                                                {

                                                    <th class="cusfontsize2" colspan="2">Bắt đầu - Kết thúc</th>

                                                }


                                            </tr>
                                        }


                                       

                                            if (count == 0)
                                            {
                                                count++;
                                                <tr>

                                                    @for (int i = 0; i < item.QuyTrinhs.Count; i++)
                                                    {
                                                        tbl_QuyTrinh itemQT = item.QuyTrinhs[i];
                                                        <th colspan="2" class="cusfontsize2">@itemQT.TenBuoc</th>
                                                    }
                                                </tr>
                                            }
                                            <tr>

                                                <input type="hidden" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].id" value="@item.id" />
                                                <th colspan="20" class="cusfontsize2">@item.NameProducts</th>
                                            </tr>


                                            if (false)
                                            {
                                                <tr>
                                                    @for (int i = 0; i < item.QuyTrinhs.Count; i++)
                                                    {
                                                        if (Model.status == 2)
                                                        {
                                                            <td onclick="loadPopup(this,'@(item.QuyTrinhs[i].ID)_flow_DK')" colspan="2" class="cusfontsize1 cushover cusdk">
                                                                <input type="hidden" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].ID" value="@item.QuyTrinhs[i].ID" />
                                                                <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_DK_begin" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayBatDau_DK" value="@(item.QuyTrinhs[i].NgayBatDau_DK.HasValue ? item.QuyTrinhs[i].NgayBatDau_DK.Value.ToString("MM/dd/yyyy") : "")" />
                                                                <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_DK_end" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayKetThuc_DK" value="@(item.QuyTrinhs[i].NgayKetThuc_DK.HasValue ? item.QuyTrinhs[i].NgayKetThuc_DK.Value.ToString("MM/dd/yyyy") : "")" />




                                                                <span id="@(item.QuyTrinhs[i].ID)_flow_DK">@(item.QuyTrinhs[i].NgayBatDau_DK.HasValue ? item.QuyTrinhs[i].NgayBatDau_DK.Value.ToString("dd/MM/yyyy") : "") - @(item.QuyTrinhs[i].NgayKetThuc_DK.HasValue ? item.QuyTrinhs[i].NgayKetThuc_DK.Value.ToString("dd/MM/yyyy") : "")</span>

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td colspan="2" class="cusfontsize1  cusdk">
                                                                <span>@(item.QuyTrinhs[i].NgayBatDau_DK.HasValue ? item.QuyTrinhs[i].NgayBatDau_DK.Value.ToString("dd/MM/yyyy") : "") - @(item.QuyTrinhs[i].NgayKetThuc_DK.HasValue ? item.QuyTrinhs[i].NgayKetThuc_DK.Value.ToString("dd/MM/yyyy") : "")</span>

                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }


                                            if (Model.status >= 3)
                                            {
                                                <tr>
                                                    @for (int i = 0; i < item.QuyTrinhs.Count; i++)
                                                    {
                                                        if (Model.status == 3)
                                                        {
                                                            <td onclick="loadPopup(this,'@(item.QuyTrinhs[i].ID)_flow_TT')" colspan="2" class="cusfontsize1 cushover custt">

                                                                <input type="hidden" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].ID" value="@item.QuyTrinhs[i].ID" />
                                                                <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_TT_begin" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayBatDau_TT" value="@(item.QuyTrinhs[i].NgayBatDau_TT.HasValue? item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("MM/dd/yyyy"):"")" />
                                                                <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_TT_end" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayKetThuc_TT" value="@(item.QuyTrinhs[i].NgayKetThuc_TT.HasValue?item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("MM/dd/yyyy"):"")" />
                                                                <span id="@(item.QuyTrinhs[i].ID)_flow_TT">@(item.QuyTrinhs[i].NgayBatDau_TT.HasValue ? item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("dd/MM/yyyy") : "") - @(item.QuyTrinhs[i].NgayKetThuc_TT.HasValue ? item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("dd/MM/yyyy") : "")</span>

                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            if (Model.status == 4 && item.QuyTrinhs[i].ThuTu >= 10)
                                                            {
                                                                <td onclick="loadPopup(this,'@(item.QuyTrinhs[i].ID)_flow_TT')" colspan="2" class="cusfontsize1 cushover custt">
                                                                    <input type="hidden" value="@i" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs.Index">
                                                                    <input type="hidden" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].ID" value="@item.QuyTrinhs[i].ID" />
                                                                    <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_TT_begin" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayBatDau_TT" value="@(item.QuyTrinhs[i].NgayBatDau_TT.HasValue? item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("MM/dd/yyyy"):"")" />
                                                                    <input type="hidden" id="@(item.QuyTrinhs[i].ID)_flow_TT_end" name="BaoGiaTemView.BaoGiaTemDetailViews[@j].QuyTrinhs[@i].NgayKetThuc_TT" value="@(item.QuyTrinhs[i].NgayKetThuc_TT.HasValue?item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("MM/dd/yyyy"):"")" />
                                                                    <span id="@(item.QuyTrinhs[i].ID)_flow_TT">@(item.QuyTrinhs[i].NgayBatDau_TT.HasValue ? item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("dd/MM/yyyy") : "") - @(item.QuyTrinhs[i].NgayKetThuc_TT.HasValue ? item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("dd/MM/yyyy") : "")</span>

                                                                </td>
                                                            }
                                                            else {
                                                                <td colspan="2" class="cusfontsize1 custt">

                                                                    <span>@(item.QuyTrinhs[i].NgayBatDau_TT.HasValue ? item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("dd/MM/yyyy") : "") - @(item.QuyTrinhs[i].NgayKetThuc_TT.HasValue ? item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("dd/MM/yyyy") : "")</span>

                                                                </td>
                                                            }

                                                        }

                                                    }
                                                </tr>
                                            }
                                        


                                    }

                                  
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                @Html.HiddenFor(model => model.BaoGiaTemView.id)
                <span style="margin-left: 10px; line-height: 33px">Báo giá lần @(Model.BaoGiaTemViews.Count + 1)</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 form-horizontal">
                    <div class="col-lg-6 ">

                        <div class="form-group">
                            <label class="control-label col-md-4" for="date_begin">Ngày bất đầu</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @Model.BaoGiaTemView.date_begin.Value.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="form-group ">

                            <label class="control-label col-md-4" for="total_money">Tổng tiền</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @Model.BaoGiaTemView.total_money.Value.ToString("n2") đ
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <label class="control-label col-md-4" for="date_end">Ngày kết thúc</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @if (Model.BaoGiaTemView.date_end.HasValue)
                                {
                                    @Model.BaoGiaTemView.date_end.Value.ToString("dd/MM/yyyy")
                                }
                                else
                                {
                                    <span>Chờ cập nhật</span>
                                }
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-4" for="status">Trạng thái</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @if (Model.BaoGiaTemView.status == 0)
                                {
                                    <span>Chờ kết quả báo giá</span>
                                }
                                @if (Model.BaoGiaTemView.status == 1)
                                {
                                    <span>Đồng ý</span>
                                }
                                @if (Model.BaoGiaTemView.status == 2)
                                {
                                    <span>Từ chối</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Hoa hồng</label>
                            <div class="col-md-8" style="padding-top:7px">
                                @(Model.BaoGiaTemView.commission.HasValue ? (Model.BaoGiaTemView.commission.Value == 1 ? "Có" : "Không") : "Chưa cập nhật")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">


                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Số lớp
                                </th>
                                <th>
                                    Loại giấy
                                </th>
                                <th>
                                    Quy trình
                                </th>
                                <th>
                                    Dán/Kim
                                </th>
                                <th>
                                    Quy Cách (cm)
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Số lượng
                                </th>
                                <th>
                                    Làm mẫu
                                </th>
                            </tr>
                        </thead>
                        <tbody class="body_data">
                            @foreach (BaoGiaTemDetailView item in Model.BaoGiaTemView.BaoGiaTemDetailViews)
                            {
                                <tr>
                                    <td>@item.NameProducts</td>
                                    <td>@item.SolopProducts</td>
                                    <td>@item.LoaigiayProducts</td>
                                    <td>@item.OffsetFlexoProducts</td>
                                    <td>@item.DanKimProducts</td>
                                    <td>@item.QuyCachProducts</td>
                                    <td>@double.Parse(item.GiaProducts).ToString("n2") đ</td>
                                    <td>
                                        @item.SoLuong
                                        <input id="id_update_tk_@(item.id)_value" class="input_tk_value" type="hidden" value="@(item.Design.HasValue==true?(item.Design.Value+""):"0")" />
                                    </td>
                                    <td id="id_update_tk_@item.id">
                                        @if (!item.Design.HasValue || item.Design.Value == 0)
                                        {
                                            @("N")           }
                                        else if (item.Design.Value == 2)
                                        {
                                            if (!String.IsNullOrEmpty(item.Design_Img))
                                            {
                                                <a href="/Upload/ThietKe/@(item.Design_Img)" target="_blank">@item.Design_Date.Value.ToString("dd/MM/yyyy")</a>
                                            }
                                            else
                                            {
                                                @item.Design_Date.Value.ToString("dd/MM/yyyy")
                                            }
                                        }
                                        else
                                        {
                                            <input type="button" onclick="UpdatePopupViewTK(this,@item.id);return false;" class="btn btn-primary" value="Update" data-target="#modal-container-tk" data-toggle="modal">
                                        }




                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div>
    </div>
    <!-- Trigger the modal with a button -->

    <div id="modal-container-donhang" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:400px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Cập nhật thời gian kế hoạch
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Ngày bắt đầu :</label>
                        <input type="text" class="form-control date" value="" id="begin" />
                        <input type="hidden" value="" id="id" />
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ngày kết thúc :</label>
                        <input type="text" class="form-control date" value="" id="end" />
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button class="btn btn-primary" data-dismiss="modal" onclick="updatePlan(this); return false;">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="modal-container-ngaythicong" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:400px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Thời gian bắt đầu thực hiện
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="date_begin" class="form-control date" value="@DateTime.Now.ToString("MM/dd/yyyy")" />

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button class="btn btn-primary" data-dismiss="modal" onclick="UpdateStatusOrder(3); return false;">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }
</style>
