@model IEnumerable<NhutLongCompany.Models.BaoGiaTemDetailView>
@{
    ViewBag.Title = "Lịch sản xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 ></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <input type="hidden" value="" name="id" id="id"/>
                <div class="panel-heading">
                    <div class="row">
                        <span style="margin-left: 10px; line-height: 33px">Lịch sản xuất</span>
                        <input type="button" onclick="Reload(this); return false;" style="float: right; margin-right: 10px" value="Reload" class="btn btn-primary reload reloadall" />
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr class="not_move">
                                    <th>
                                        Mã sản phẩm
                                    </th>
                                    <th>
                                        Tên sản phẩm
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Ngày giao hàng
                                    </th>
                                    <th>
                                       Thời gian còn lại
                                    </th>
                                    @*<th>
                                        Ngày sản xuất
                                    </th>*@

                                    <th >
                                           Trạng thái
                                        </th>
                                    <th width="50">
                                           
                                        </th>
                                    @*<th>
                                        Tiến hành sản xuất
                                    </th>*@
                                    <th width="100">
                                        
                                    </th>
                                    <th width="100">

                                    </th>
                                </tr>
                            </thead>
                            <tbody id="layout_reload">
                                @{Html.RenderAction("PartialLichSanXuat", "SanXuat");}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="modal-container-note" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width:400px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                   Lý do
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" id="note"  placeholder="Try to input multiple lines here..."></textarea>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button class="btn btn-primary"   onclick="onPause(); return false;">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }




<!-- /.row -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    tr > td {
        vertical-align: middle !important;
    }
</style>



<script>
    function UpdateLenhSanXuat(id) {

        var json = JSON.stringify({ 'id': id });
        var cf = confirm("Bạn có đồng ý lệnh không?");
        if (cf==true) {
            $.ajax({
                url: '@Url.Action("UpdateLenhSanXuat", "SanXuat")',
                data: json,
                cache: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, textStatus, XMLHttpRequest) {
                    ReloadAll();
                    alert("Cập nhật thành công!");

                }
            });
        }
       
    }
    function Reload(el)
    {
        $(el).attr('disabled', '')
        $(el).val("Loading .....")
        var layout = $('#layout_reload');
        $.ajax({
            url: '@Url.Action("PartialLichSanXuat", "SanXuat")',
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                layout.html(data);
                moveEvent();
                $(el).removeAttr("disabled");
                $(el).val("Reload");
            }
        });
    }
    var timeOut;
    function ReloadAll() {
        $('.reloadall').click();
        clearTimeout(timeOut);
        timeOut = setTimeout(function () {
            ReloadAll();
        }, 30000);
    }
    timeOut = setTimeout(function () {
        ReloadAll();
    }, 30000);

    function onContinue()
    {

        var id = document.getElementById('id').value;
        var note = document.getElementById('note').value;
        var idCrr = "ajax_update_" + id + "_product";
        var json = JSON.stringify({ 'id': id, 'note': note, 'state': 2});
        $.ajax({
            url: '@Url.Action("UpdateStateFlow", "SanXuat")',
            data: json,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, textStatus, XMLHttpRequest) {
                ReloadAll();
                alert("Cập nhật thành công!");

            }
        });
    }
    function onPause()
    {
        var layout = $('#layout_reload');
        var id=  document.getElementById('id').value;
        var note = document.getElementById('note').value;
        var idCrr = "ajax_update_" + id + "_product";
        var json=JSON.stringify({'id': id, 'note': note,'state':1 });
        $.ajax({
            url: '@Url.Action("UpdateStateFlow", "SanXuat")',
            data: json,
            cache: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, textStatus, XMLHttpRequest) {
                ReloadAll();
                alert("Cập nhật thành công!");
                $('#modal-container-note').modal('hide');

            }
        });



    }
    function setValuePause(id) {
        document.getElementById('note').value = "";
        document.getElementById('id').value = id;
        return false;
    }
    function setValue(id) {
        document.getElementById('id').value=id;
        return true;
    }
    function UpdateStack(id, order) {
        var jsonObject = {
            "id": id,
            "order": order
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateStack", "SanXuat")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(jsonObject),
            success: function (data) {
                //alert(data);
            },
            failure: function (errMsg) {
                // alert(errMsg);
            }
        });
    }
    function updateMoveIcon() {
        $('.move-down').each(function () {
            var dataindex = $(this).parents(".move_product").eq(0).attr('data-index');
            var item_product = $(this).parents(".move_product")[0];
            var item_next = $(item_product).next();
         
            if (item_next.length == 0) {
                $(this).css('display', 'none');
            }
            else {
                $(this).css('display', '');
            }
        });

        $('.move-up').each(function () {
            var dataindex = $(this).parents(".move_product").eq(0).attr('data-index');
            var item_product = $(this).parents(".move_product")[0];
            var item_prev = $(item_product).prev();
            if (item_prev.length == 0 || item_prev.eq(0).hasClass('not_move')) {
                $(this).css('display', 'none');
            }
            else {
                $(this).css('display', '');
            }
        });
    }
    function swapElements(elm1, elm2) {
        var parent1, next1,
            parent2, next2;

        parent1 = elm1.parentNode;
        next1 = elm1.nextSibling;
        parent2 = elm2.parentNode;
        next2 = elm2.nextSibling;

        parent1.insertBefore(elm2, next1);
        parent2.insertBefore(elm1, next2);
    }
    function moveEvent() {
        $('.move-down').on("click", function () {
            var dataindex = $(this).parents(".move_product").eq(0).attr('data-index');
            var item_product = $(this).parents(".move_product")[0];

            var item_next = $(item_product).next();
            if (item_next.length > 0) {
                var next_dataindex = item_next.eq(0).attr('data-index');
                var item_product_next = item_next[0];

                $(item_product).attr('data-index', next_dataindex);
                $(item_product_next).attr('data-index', dataindex);

                UpdateStack(item_product.id.replace('ajax_update_', '').replace('_product', ''), next_dataindex);
                UpdateStack(item_product_next.id.replace('ajax_update_', '').replace('_product', ''), dataindex);

                swapElements(item_product, item_product_next);


            }
            updateMoveIcon();
        });
        $('.move-up').on("click", function () {


            var dataindex = $(this).parents(".move_product").eq(0).attr('data-index');
            var item_product = $(this).parents(".move_product")[0];

            var item_prev = $(item_product).prev();
            if (item_prev.length > 0) {

                var item_product_prev = item_prev[0];
                var prev_dataindex = $(item_product_prev).eq(0).attr('data-index');
                $(item_product).attr('data-index', prev_dataindex);
                $(item_product_prev).attr('data-index', dataindex);

                UpdateStack(item_product.id.replace('ajax_update_', '').replace('_product', ''), prev_dataindex);
                UpdateStack(item_product_prev.id.replace('ajax_update_', '').replace('_product', ''), dataindex);

                swapElements(item_product, item_product_prev);


            }
            updateMoveIcon();

        })

        updateMoveIcon();
    }
    $(document).ready(function () {


        moveEvent();


    });

</script>