@model IEnumerable<NhutLongCompany.Models.BaoGiaTemDetailView>


@foreach (var item in Model)
{

    for (int i = 0; i < item.QuyTrinhs.Count; i++)
    {
        var color = "red";
        var color_char = "yellow";
        if (item.QuyTrinhs[i].NgayBatDau_TT.HasValue && item.QuyTrinhs[i].NgayKetThuc_TT.HasValue)
        {
            color = "blue";
            color_char = "white";
        }
        else
        {
            if (item.QuyTrinhs[i].NgayBatDau_TT.HasValue && !item.QuyTrinhs[i].NgayKetThuc_TT.HasValue)
            {
                color = "yellow";
                color_char = "red";
            }
        }
        <td colspan="2" width="@((float)100 / (float)9)" class="cusfontsize1 custt" style="color:@color_char;background-color:@color;">

            <span>
                @if (item.QuyTrinhs[i].NgayBatDau_TT.HasValue)
                {
                    @item.QuyTrinhs[i].NgayBatDau_TT.Value.ToString("dd/MM/yyyy")
                }
                else
                {
                    <span style="cursor:pointer" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(i==0?"2":(item.QuyTrinhs[i-1].TrangThai.Value+"")),@item.id,@item.QuyTrinhs[i].ID,1)">Bất đầu</span>
                }
                @("-")
                @if (item.QuyTrinhs[i].NgayKetThuc_TT.HasValue)
                {
                    @item.QuyTrinhs[i].NgayKetThuc_TT.Value.ToString("dd/MM/yyyy")
                }
                else
                {

                    if ((!item.Status_Pause.HasValue || (item.Status_Pause.HasValue && item.Status_Pause.Value == 0)))
                    {
                        <span style="cursor:pointer" id="item_@item.QuyTrinhs[i].ID" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(item.QuyTrinhs[i].TrangThai.Value==1?"2":"0"),@item.id,@item.QuyTrinhs[i].ID,2)">Kết thúc</span>
                        if (item.QuyTrinhs[i].TrangThai.Value == 1 && (!item.Status_Pause.HasValue || (item.Status_Pause.HasValue && item.Status_Pause.Value == 0)))
                        {
                            <span style="cursor:pointer" class="btn btn-outline btn-default btn-xs" data-target="#modal-container-note" data-toggle="modal" onclick="return setValuePause(@item.id);">tạm dừng</span>
                        }
                        else if (item.Status_Pause.HasValue && item.Status_Pause.Value == 1 && item.Current_FlowPauseTime.index_step.Value == item.QuyTrinhs[i].ThuTu.Value)
                        {
                            <span style="cursor:pointer" class="btn btn-outline btn-default btn-xs" onclick="setValuePause(@item.id); onContinue(); return false;">tiếp tục</span>
                            <script type="text/javascript">
                                document.getElementById('item_@item.QuyTrinhs[i].ID').style.display = 'none';
                            </script>
                        }

                    }
                    else
                    {
                        @(" ")
                    }

                  
                }
            </span>
        </td>


    }
    <script type="text/javascript">
        var st='@item.Status.Value';
            if (st=='2') {
                $('.reload').click();
            }


    </script>
}
