@model IEnumerable<NhutLongCompany.Models.BaoGiaTemDetailView>


@foreach (var item in Model)
{
    var QT = "QT1";
    if (item.OffsetFlexoProducts.Equals("FLEXO - BẤM KIM"))
    {

        QT = "QT1";

    }
    if (item.OffsetFlexoProducts.Equals("FLEXO - DÁN"))
    {
        QT = "QT2";
    }
    if (item.OffsetFlexoProducts.Equals("FLEXO - Bế"))
    {
        QT = "QT3";
    }
    if (item.OffsetFlexoProducts.Equals("FLEXO - Bế - DÁN"))
    {
        QT = "QT4";

    }
    if (item.OffsetFlexoProducts.Equals("OFFSET -Bế - BK"))
    {
        QT = "QT5";
    }
    if (item.OffsetFlexoProducts.Equals("OFFSET - Bế - DÁN"))
    {
        QT = "QT6";
    }

                        <td width="@((float)100 / (float)(11))%" class="cusfontsize1 custt" style="color:yellow;background-color:green;vertical-align: middle; padding-left: 5px !important;">
                          @item.NameProducts
                            <br />
                            @QT
                        </td>
                        for (int i = 0; i < 10; i++)
                        {
                            var color = "red";
                            var color_char = "yellow";
                            NhutLongCompany.Models.tbl_QuyTrinh itemQT = null;
                            NhutLongCompany.Models.tbl_QuyTrinh itemQTBF = null;
                            for (int k = 0; k < item.QuyTrinhs.Count; k++)
                            {
                                var itemQTX = item.QuyTrinhs[k];
                                if (itemQTX.ThuTu == i)
                                {
                                    itemQT = itemQTX;
                                    if (k == 0)
                                    {
                                        itemQTBF = null;


                                    }
                                    else
                                    {
                                        itemQTBF = item.QuyTrinhs[k - 1];
                                    }
                                    break;
                                }
                            }

                            if (itemQT != null)
                            {
                                if (itemQT.NgayBatDau_TT.HasValue && itemQT.NgayKetThuc_TT.HasValue)
                                {
                                    color = "blue";
                                    color_char = "white";
                                }
                                else
                                {
                                    if (itemQT.NgayBatDau_TT.HasValue && !itemQT.NgayKetThuc_TT.HasValue)
                                    {
                                        color = "yellow";
                                        color_char = "red";
                                    }
                                }

                                <td width="@((float)100 / (float)(11))%" class="cusfontsize1 custt" style="color:@color_char;background-color:@color;vertical-align: middle; padding-left: 5px !important;">

                                    <span>
                                        @if (itemQT.NgayBatDau_TT.HasValue)
                                        {
                                            @itemQT.NgayBatDau_TT.Value.ToString("dd/MM/yyyy")
                                        }
                                        else
                                        {

                                            @*<span style="cursor:pointer" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(i==0?"2":(item.QuyTrinhs[i-1].TrangThai.Value+"")),@item.id,@itemQT.ID,1)">Bất đầu</span>*@

                                      
                                            <span style="cursor:pointer;width:65px" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(itemQTBF==null?"2":(itemQTBF.TrangThai.Value+"")),@item.id,@itemQT.ID,1)">Bất đầu</span>
                                   

                                        }
                                       <br />
                                        @if (itemQT.NgayKetThuc_TT.HasValue)
                                        {
                                            @itemQT.NgayKetThuc_TT.Value.ToString("dd/MM/yyyy")
                                        }
                                        else
                                        {


                                            @*<span style="cursor:pointer" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(itemQT.TrangThai.Value==1?"2":"1"),@item.id,@itemQT.ID,2)">Kết thúc</span>*@

                                    
                                            <span style="cursor:pointer;width:65px" id="item_@itemQT.ID" class="btn btn-outline btn-default btn-xs" onclick="UpdateQuyTrinh(@(itemQT.TrangThai.Value==1?"2":"1"),@item.id,@itemQT.ID,2)">Kết thúc</span>
                                            if (itemQT.TrangThai.Value == 1 && (!item.Status_Pause.HasValue || (item.Status_Pause.HasValue && item.Status_Pause.Value == 0)))
                                            {
                                                <br />
                                                <span style="cursor:pointer;width:65px" class="btn btn-outline btn-default btn-xs" data-target="#modal-container-note" data-toggle="modal" onclick="return setValuePause(@item.id);">tạm dừng</span>
                                            }
                                            else if (item.Status_Pause.HasValue && item.Status_Pause.Value == 1 && item.Current_FlowPauseTime.index_step.Value == itemQT.ThuTu.Value)
                                            {
                                                
                                                <span style="cursor:pointer;width:65px" class="btn btn-outline btn-default btn-xs" onclick="setValuePause(@item.id); onContinue(); return false;">tiếp tục</span>
                                                <script type="text/javascript">
                                                    document.getElementById('item_@itemQT.ID').style.display = 'none';
                                                </script>
                                            }


                                     



                                        }
                                    </span>
                                </td>

                            }
                            else
                            {
                                <td width="@((float)100 / (float)(11))%" class="cusfontsize1 custt"></td>
                            }


                        }
                   

    <script type="text/javascript">
        var st='@item.Status.Value';
            if (st=='2') {
                $('.reload').click();
            }


    </script>
}
