@using NhutLongCompany.Models
@model IEnumerable<Navbar>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top " role="navigation" style="margin-bottom: 0">
    <div class="container-fluid row">
        <div class="col-lg-2"><div class="navbar-header">
                                  <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                  <div class="cuslogo">
                                      <a href="/">
                                          <img src="/images/nhutlong.png">

                                      </a>
                                  </div>
                              </div>
        </div>
        <div class="col-lg-7">
            <div class="navbar-collapse collapse cusmenu " id="navbar">
                <ul class="nav navbar-nav">
                                          
                    @foreach (Navbar item in Model)
                    {
                        if (item.isParent == false && item.parentId == 0)
                        {
                            <li>
                                <a href="@Url.Action(item.action, item.controller)">
                                          <label><i class="@item.imageClass"></i> @item.nameOption</label>
                                </a>
                            </li>
                        }
                        else
                        {
                            if (item.isParent)
                            {
                                <li class="dropdown">
                                                     
                                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#" ><i class="@item.imageClass"></i> @item.nameOption<span class="fa arrow"></span></a>
                                    <ul class="dropdown-menu">
                                        @foreach (Navbar child in Model.Where(p => p.parentId == item.Id))
                                        {
                                            if (child.controller == null)
                                            {
                                                <li><a href="#">@child.nameOption</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action(child.action, child.controller)">@child.nameOption</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }
                    
                </ul>

            </div>
        </div>
        <div class="col-lg-3">
            <ul class="nav navbar-top-links navbar-right">
              
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><label>@ViewBag.ten</label>  <i class="fa fa-caret-down"></i>
                    </a>
                   
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Chức vụ</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>



        <!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
