
@using NhutLongCompany.Models
@model BaoGiaColumn

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thêm thông tin báo giá</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Elements
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                <label>Mã báo giá</label>

                                @Html.EditorFor(model => model.CodeDonHang, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.CodeDonHang, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                <label>Làm mẫu</label>
                                @Html.DropDownListFor(model => model.LamMau, new List<SelectListItem> {new SelectListItem {Value = "1", Text = "Có"}, new SelectListItem {Value = "0", Text = "Không"}}, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.LamMau, "", new {@class = "text-danger"})

                            </div>

                          
                            <div class="form-group">
                                <label>Ngày báo giá</label>

                                @Html.EditorFor(model => model.NgayBaoGia, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayBaoGia, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                <label>Quy trình</label>

                                @Html.DropDownListFor(model => model.LamMau, new List<SelectListItem> {new SelectListItem {Value = "1", Text = "Không in Offset"}, new SelectListItem {Value = "2", Text = "Có in Offset"}}, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.QuyTrinh, "", new {@class = "text-danger"})

                            </div>
                        </div>
                        <div class="col-lg-6">

                          
                            <div class="form-group">
                                <label>Ngày bắt đầu dự kiến</label>

                                @Html.EditorFor(model => model.NgayBatDauDuKien, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayBatDauDuKien, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                <label>Ngày kết thúc dự kiến</label>

                                @Html.EditorFor(model => model.NgayKetThucDuKien, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayKetThucDuKien, "", new {@class = "text-danger"})

                            </div>
                          
                         
                            <div class="form-group">
                                <label>Ngày giao hàng</label>

                                @Html.EditorFor(model => model.NgayGiao, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayGiao, "", new {@class = "text-danger"})

                            </div>
                           
                           


                            <div class="form-group">

                                <input type="submit" value="Thêm" class="btn btn-primary" />
                              
                             

                                <a class="btn btn-primary" id="vandehong" href="@Url.Action("Index", "BaoGia", new { id =1 })">
                                    Hủy
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            }
        </div>
        <!-- /.panel -->
        

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">

                    <div class="panel-heading">
                        @Html.ActionLink("Thêm sản phẩm", "Create", "", new {@class = "btn btn-primary"})
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="dataTable_wrapper">

                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã sản phẩm
                                        </th>
                                        <th>
                                            Tên sản phẩm
                                        </th>
                                        <th>
                                            Số lớp
                                        </th>
                                        <th>
                                            Loại giấy
                                        </th>
                                        <th>
                                            Offset/Flexo
                                        </th>
                                        <th>
                                            Dán/Kim
                                        </th>
                                        <th>
                                            Quy Cách
                                        </th>

                                        <th>
                                            Giá
                                        </th>
                                        <th>
                                            Ngày tạo
                                        </th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    @if (Model.Products != null)
                                    {
                                        foreach (tbl_Products item in Model.Products)
                                         {
                                             <tr>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.CodeProducts)
                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.NameProducts)

                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.SolopProducts)

                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.LoaigiayProducts)
                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.OffsetFlexoProducts)

                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.DanKimProducts)
                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.QuyCachProducts)

                                                 </td>

                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.GiaProducts)
                                                 </td>
                                                 <td>
                                                     @Html.DisplayFor(modelItem => item.CreatedDateProducts)
                                                 </td>
                                                 <td>
                                                     @(item.StatusProducts == 1 ? "Hoạt động" : "Không hoạt động")
                                                 </td>
                                                 <td>
                                                     @Html.ActionLink("Sửa", "Edit", new {id = item.ID_Products}, new {@class = "btn btn-outline btn-primary btn-xs"})

                                                     @Html.ActionLink("Xóa", "Delete", new {id = item.ID_Products}, new {@class = "btn btn-outline btn-primary btn-xs"})
                                                 </td>
                                             </tr>
                                         }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->