@using NhutLongCompany.Models
@model BaoGiaColumn

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Thêm thông tin báo giá</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Elements
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                <label>Mã báo giá</label>

                                @Html.EditorFor(model => model.CodeDonHang, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.CodeDonHang, "", new {@class = "text-danger"})

                            </div>






                            <div class="form-group">
                                <label>Làm mẫu</label>
                                @Html.DropDownListFor(model => model.LamMau, new List<SelectListItem> {new SelectListItem {Value = "1", Text = "Có"}, new SelectListItem {Value = "0", Text = "Không"}}, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.LamMau, "", new {@class = "text-danger"})

                            </div>


                            <div class="form-group">
                                <label>Ngày báo giá</label>

                                @Html.EditorFor(model => model.NgayBaoGia, new {htmlAttributes = new {@class = "form-control date"}})
                                @Html.ValidationMessageFor(model => model.NgayBaoGia, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                <label>Quy trình</label>

                                @Html.DropDownListFor(model => model.LamMau, new List<SelectListItem> {new SelectListItem {Value = "1", Text = "Không in Offset"}, new SelectListItem {Value = "2", Text = "Có in Offset"}}, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.QuyTrinh, "", new {@class = "text-danger"})

                            </div>
                        </div>
                        <div class="col-lg-6">


                            <div class="form-group">
                                <label>Ngày bắt đầu dự kiến</label>

                                @Html.EditorFor(model => model.NgayBatDauDuKien, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayBatDauDuKien, "", new {@class = "text-danger"})

                            </div>
                            <div class="form-group">
                                <label>Ngày kết thúc dự kiến</label>

                                @Html.EditorFor(model => model.NgayKetThucDuKien, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayKetThucDuKien, "", new {@class = "text-danger"})

                            </div>


                            <div class="form-group">
                                <label>Ngày giao hàng</label>

                                @Html.EditorFor(model => model.NgayGiao, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.NgayGiao, "", new {@class = "text-danger"})

                            </div>




                            <div class="form-group">

                                <input type="submit" value="Thêm" class="btn btn-primary" />
                                @Html.ActionLink("Hủy", "Index", "", new {@class = "btn btn-primary"})

                            </div>

                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            }
        </div>
        <!-- /.panel -->

        <script>
            function loadData(el) {
                var CodeProducts = jQuery(el).parents('tr').eq(0).find('.CodeProducts').val();
                var NameProducts = jQuery(el).parents('tr').eq(0).find('.NameProducts').val();
                var SolopProducts = jQuery(el).parents('tr').eq(0).find('.SolopProducts').val();
                var LoaigiayProducts = jQuery(el).parents('tr').eq(0).find('.LoaigiayProducts').val();
                var OffsetFlexoProducts = jQuery(el).parents('tr').eq(0).find('.OffsetFlexoProducts').val();
                var DanKimProducts = jQuery(el).parents('tr').eq(0).find('.DanKimProducts').val();
                var QuyCachProducts = jQuery(el).parents('tr').eq(0).find('.QuyCachProducts').val();
                var GiaProducts = jQuery(el).parents('tr').eq(0).find('.GiaProducts').val();
                var CreatedDateProducts = jQuery(el).parents('tr').eq(0).find('.CreatedDateProducts').val();
                var StatusProducts = jQuery(el).parents('tr').eq(0).find('.StatusProducts').val();
                $('.codeProducts').val(CodeProducts);
                $('.NameProducts').val(NameProducts);
                $('.SoLop').val(SolopProducts);
                $('.LoaiGiay').val(LoaigiayProducts);
                $('.Offset').val(OffsetFlexoProducts);
                $('.DanKim').val(DanKimProducts);
                $('.QuyCach').val(QuyCachProducts);
                $('.Gia').val(GiaProducts);
                $('.CreatedDate').val(CreatedDateProducts);
                $('.trangthai').val(StatusProducts);

            }

            function save() {
                
            }
        </script>
        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">

                    <div class="panel-heading">
                       
                       
                        <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm sản phẩm</button>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="dataTable_wrapper">

                            <table class="table table-striped table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th>
                                            Mã sản phẩm
                                        </th>
                                        <th>
                                            Tên sản phẩm
                                        </th>
                                        <th>
                                            Số lớp
                                        </th>
                                        <th>
                                            Loại giấy
                                        </th>
                                        <th>
                                            Offset/Flexo
                                        </th>
                                        <th>
                                            Dán/Kim
                                        </th>
                                        <th>
                                            Quy Cách
                                        </th>

                                        <th>
                                            Giá
                                        </th>
                                        <th>
                                            Ngày tạo
                                        </th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model.Products != null)
                                    {
                                        foreach (tbl_Products item in Model.Products)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="data_CodeProducts">@Html.DisplayFor(modelItem => item.CodeProducts)</p>
                                                    @Html.HiddenFor(modelItem => item.CodeProducts, new {@class = "CodeProducts"})
                                                    @Html.HiddenFor(modelItem => item.ID_Products, new {@class = "IDProducts"})
                                                </td>
                                                <td>
                                                    <p class="data_NameProducts">
                                                        @Html.DisplayFor(modelItem => item.NameProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.NameProducts, new {@class = "NameProducts"})

                                                </td>
                                                <td>
                                                    <p class="data_SolopProducts">
                                                        @Html.DisplayFor(modelItem => item.SolopProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.SolopProducts, new {@class = "SolopProducts"})

                                                </td>
                                                <td>
                                                    <p class="data_LoaigiayProducts">
                                                        @Html.DisplayFor(modelItem => item.LoaigiayProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.LoaigiayProducts, new {@class = "LoaigiayProducts"})
                                                </td>
                                                <td>
                                                    <p class="data_OffsetFlexoProducts">
                                                        @Html.DisplayFor(modelItem => item.OffsetFlexoProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.OffsetFlexoProducts, new {@class = "OffsetFlexoProducts"})

                                                </td>
                                                <td>
                                                    <p class="data_DanKimProducts>
                                                        @Html.DisplayFor(modelItem => item.DanKimProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.DanKimProducts, new {@class = "DanKimProducts"})
                                                </td>
                                                <td>
                                                    <p class="data_QuyCachProducts">
                                                        @Html.DisplayFor(modelItem => item.QuyCachProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.QuyCachProducts, new {@class = "QuyCachProducts"})

                                                </td>

                                                <td>
                                                    <p class="data_GiaProducts">
                                                        @Html.DisplayFor(modelItem => item.GiaProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.GiaProducts, new {@class = "GiaProducts"})
                                                </td>
                                                <td>
                                                    <p class="data_CreatedDateProducts">
                                                        @Html.DisplayFor(modelItem => item.CreatedDateProducts)
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.CreatedDateProducts, new {@class = "CreatedDateProducts"})
                                                </td>
                                                <td>
                                                    <p class="data_StatusProducts">
                                                        @(item.StatusProducts == 1 ? "Hoạt động" : "Không hoạt động")
                                                    </p>
                                                    @Html.HiddenFor(modelItem => item.StatusProducts, new {@class = "StatusProducts"})
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline btn-primary btn-xs" onclick=" loadData(this); " data-toggle="modal" data-target="#myModal" name="edit">Sửa</button>

                                                    @Html.ActionLink("Xóa", "Delete", new {id = item.ID_Products}, new {@class = "btn btn-outline btn-primary btn-xs"})
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Trigger the modal with a button -->
        

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Form Elements
                            </div>
                          


                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Mã sản phẩm</label>
                                            <input class="form-control codeProducts" name="codeProducts" type="text" />
                                               

                                        </div>

                                        <div class="form-group">
                                            <label>Tên sản phẩm</label>

                                            <input class="form-control NameProducts" name="NameProducts" type="text" />

                                        </div>
                                        <div class="form-group">
                                            <label>Số lớp</label>

                                            <input class="form-control SoLop" name="SoLop" type="text" />

                                        </div>
                                        <div class="form-group">
                                            <label>Loại giấy</label>
                                            <select name="LoaiGiay" class="form-control LoaiGiay">
                                                <option value="0">Chọn loại giấy</option>
                                                <option value="3 lớp: 2 Vàng 1 Xeo">3 lớp: 2 Vàng 1 Xeo</option>
                                                <option value="3 lớp: 1 Trắng 1 Xeo 1 Vàng">3 lớp: 1 Trắng 1 Xeo 1 Vàng</option>
                                                <option value="3 lớp: 1 Đài Loan 1 Xeo 1 Vàng">3 lớp: 1 Đài Loan 1 Xeo 1 Vàng</option>
                                                <option value="5 lớp: 2 Vàng 3 Xeo">5 lớp: 2 Vàng 3 Xeo</option>
                                                <option value="5 lớp: 1 Trắng 1 Vàng 3 Xeo">5 lớp: 1 Trắng 1 Vàng 3 Xeo</option>
                                                <option value="5 lớp: 1 Đài Loan 1 Vàng 3 Xeo">5 lớp: 1 Đài Loan 1 Vàng 3 Xeo</option>
                                                <option value="2 lớp: 1 Vàng 1 Xeo - sóng E">2 lớp: 1 Vàng 1 Xeo - sóng E</option>
                                                <option value="2 lớp: 1 Vàng 1 Xeo - sóng C">2 lớp: 1 Vàng 1 Xeo - sóng C</option>
                                                <option value="2 lớp: 1 Trắng 1 Xeo - sóng E">2 lớp: 1 Trắng 1 Xeo - sóng E</option>

                                            </select>
                                               

                                        </div>


                                        <div class="form-group offset">
                                            <label>Offset/Flexo</label>

                                            <select name="Offset" class="form-control">

                                                <option value="Offset">Offset</option>
                                                <option value="Flexo">Flexo</option>


                                            </select>
                                        </div>



                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            <label>Dán kim</label>

                                            <select name="DanKim" class="form-control dankim">

                                                <option value="Dán keo">Dán</option>
                                                <option value="Đóng kim">Đóng kim</option>


                                            </select>

                                        </div>

                                        <div class="form-group">
                                            <label>Giá</label>

                                            <input class="form-control Gia" name="Gia" type="text" />

                                        </div>
                                        <div class="form-group">
                                            <label>Ngày tạo</label>

                                            <input class="form-control CreatedDate" name="CreatedDate" type="text" />

                                        </div>
                                        <div class="form-group ">
                                            <label>Trạng thái</label>


                                            <select name="trangthai" class="form-control trangthai">

                                                <option value="0">Không hoạt động</option>
                                                <option value="1">Hoạt động</option>


                                            </select>


                                        </div>



                                         

                                    </div>

                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" onclick="save();" value="Save" class="btn btn-primary" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->