@using NhutLongCompany.Models
@model DonHangView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<script type="text/javascript">
    function OffsetFlexoProductsUpdate(el) {
        if (el.value == 'FLEXO - BẤM KIM') {
            $('#DanKimProducts').val("Bấm kim");
        }
        if (el.value == 'FLEXO - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }
        if (el.value == 'FLEXO - Bế') {
            $('#DanKimProducts').val("");
        }
        if (el.value == 'FLEXO - Bế - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }
        if (el.value == 'OFFSET -Bế - BK') {
            $('#DanKimProducts').val("Bấm kim");
        }
        if (el.value == 'OFFSET - Bế - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }

    }

    function UpdateCustomerInfo(el) {

        var arr = $(el).val().split("-");
        $("#customer_id").val("0");
        $("#customer_id_MS").val("");
        $("#customer_id_Email").val("");
        $("#customer_id_Cty").val("");
        $("#customer_id_Address").val("");
        if (arr.length > 1) {
            $("#customer_id").val(arr[0]);
            $("#customer_id_MS").val(arr[1]);
            $("#customer_id_Email").val(arr[3]);
            $("#customer_id_Cty").val(arr[2]);
            $("#customer_id_Address").val(arr[4]);
        }
    }

    function numberParse(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $(document).ready(function() {
        $("input[type=number]").keydown(function(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    });

    function updateProduct(el) {


        var m = 0;
        if ($('.NameProducts1').val() == '') {
            $('.lblNameProducts').addClass('hidden');
            $('.NameProducts1').after('<label class="errorLabel lblNameProducts">Nhập tên sản phẩm</label>');

            m++;
        } else {
            $('.lblNameProducts').addClass('hidden');
        }

        if ($('.QuyCachProducts1dai').val() == '') {
            $('.lblQuyCachProductsdai').addClass('hidden');
            $('.QuyCachProducts1dai').after('<label class="errorLabel lblQuyCachProductsdai">Nhập dài</label>');
            m++;
        } else {
            $('.lblQuyCachProducts').addClass('hidden');
        }
        if ($('.QuyCachProducts1rong').val() == '') {
            $('.lblQuyCachProductsrong').addClass('hidden');
            $('.QuyCachProducts1rong').after('<label class="errorLabel lblQuyCachProductsrong">Nhập rộng</label>');
            m++;
        } else {
            $('.lblQuyCachProducts').addClass('hidden');
        }
        if ($('.QuyCachProducts1cao').val() == '') {
            $('.lblQuyCachProductscao').addClass('hidden');
            $('.QuyCachProducts1cao').after('<label class="errorLabel lblQuyCachProductscao">Nhập cao</label>');
            m++;
        } else {
            $('.lblQuyCachProductscao').addClass('hidden');
        }

        if ($('.SolopProducts1').val() <= 0) {
            $('.lblSolopProducts').addClass('hidden');
            $('.SolopProducts1').after('<label class="errorLabel lblSolopProducts">Chọn số lớp</label>');
            m++;
        } else {
            $('.lblSolopProducts').addClass('hidden');
        }
        if ($('.GiaProducts1').val() <= 0) {
            $('.lblGiaProducts').addClass('hidden');
            $('.GiaProducts1').after('<label class="errorLabel lblGiaProducts">Giá phải lớn hơn 0</label>');
            m++;
        } else {
            $('.lblGiaProducts').addClass('hidden');
        }
        if ($('select[name=LoaigiayProducts]').val() == 0) {
            $('.lblLoaigiayProducts').addClass('hidden');
            $('.LoaigiayProducts1').after('<label class="errorLabel lblLoaigiayProducts">Chọn loại giấy</label>');
            m++;
        } else {
            $('.lblLoaigiayProducts').addClass('hidden');
        }
        if (m == 0) {

            $('.lblNameProducts').addClass('hidden');
            $('.lblQuyCachProductsdai').addClass('hidden');
            $('.lblQuyCachProductsrong').addClass('hidden');
            $('.lblQuyCachProductscao').addClass('hidden');
            $('.lblGiaProducts').addClass('hidden');
            $('.lblSolopProducts').addClass('hidden');
            $('.lblLoaigiayProducts').addClass('hidden');
            var id = new Date().getTime();
            var dai = $('.QuyCachProducts1dai').val();
            var rong = $('.QuyCachProducts1rong').val();
            var cao = $('.QuyCachProducts1cao').val();
            var qc = dai + ' x ' + rong + ' x ' + cao;
            $('.QuyCachProducts').val(qc);
            var tr = $(el).parents('tr').eq(0);
            var trdata = "<tr class='tr_edit' id='ext_" + id + "'><input name='BaoGiaTemView.BaoGiaTemDetailViews.Index' value='" + id + "' type='hidden'/><input name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "].ID_Products' value='' type='hidden'/>";
            tr.find('.form-control').each(function() {


                if ($(this).attr('name') == 'SoLuong') {
                    trdata += "<td class='" + this.name + "'><input class='form-control text-box single-line updateSL " + this.name + "'  min='1' value='" + this.value + "' type='number' name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "]." + this.name + "'/></td>";
                } else {
                    var text = this.value;
                    if ($(this).attr('name') == 'GiaProducts') {
                        text = numberParse(this.value) + " đ";
                    }
                    if ($(this).attr('name') == 'Design') {
                        text = this.value == 1 ? "có" : "không";
                    }


                    trdata += "<td class='" + this.name + "'>" + text + "<input class='" + this.name + "' name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "]." + this.name + "' value='" + this.value + "' type='hidden'/></td>";
                }
                this.value = $(this).attr('default-value');
            });
            trdata += "<td ><input type='submit' style='float: left; margin-left: 10px' value='Xóa' class='btn btn-primary' onclick='delProduct(this); return false;' /></td></tr>";
            $(el).parents('tbody').eq(0).append(trdata);
            updateMoney(el);
            updateEvent();

        }


    }

    function updateEvent() {
        $('.updateSL').on("change", function() {
            updateMoney(this);
        });
        $("input[type=number]").keydown(function(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    }

    function delProduct(el) {
        var tr = $(el).parents('tr').eq(0);
        tr.remove();
        updateMoney(el);
        updateEvent();
    }

    function updateMoney(el) {
        var money = 0;
        $(el).parents('.body_data').eq(0).find('tr').each(function() {
            if ($(this).attr('id') != null) {

                money += parseInt($(this).find('input.SoLuong').eq(0).val()) * parseFloat($(this).find('input.GiaProducts').eq(0).val());
            }
        });
        $('.BaoGiaTemView_total_money').val(money);
        $('#BaoGiaTemView_total_money').text(numberParse(money));
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="panel panel-default">
        <div class="panel-heading">
            Thêm báo giá
        </div>
        <div class="panel-body">
            <div class="row form-horizontal">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Mã đơn hàng</label>
                        <div class="col-md-8" style="padding-top: 7px">
                            @Html.HiddenFor(model => model.code)
                            @Model.code

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Trạng thái</label>
                        <div class="col-md-8" style="padding-top: 7px">
                            @Html.HiddenFor(model => model.status)
                            Tạo báo giá
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Thông tin khách hàng</label>
                        <div class="col-md-10" style="padding-top: 7px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-6"><select style="width: 200px; margin-left: 10px" onchange=" UpdateCustomerInfo(this); " class="form-control valid">
                                                                  <option value="0">Chọn danh sách</option>
                                                                  @foreach (tbl_Customers item in Model.tbl_Customers)
                                                                  {
                                                                      <option @((Model.customer_id.HasValue && item.IDCustomers == Model.customer_id.Value) ? "selected=\"selected\"" : "") value="@(item.IDCustomers + "-" + item.CodeCustomers + "-" + item.CongTyCustomers + "-" + item.EmailCustomers + "-" + item.DiaChiCustomers)">@item.NameCustomers</option>
                                                                  }
                                                              </select></div>
                                        <div class="col-lg-6"><a class="btn btn-primary pull-right" href="@Url.Action("Index", "Customers")">Thêm mới khách hàng</a></div>
                                        @Html.HiddenFor(model => model.customer_id)
                                       
                                       
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12 form-horizontal">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Mã số</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled class="form-control text-box single-line valid" value="@(Model.Customer != null ? Model.Customer.CodeCustomers : ""  )" id="customer_id_MS">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Công ty</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Cty" value="@(Model.Customer != null ? Model.Customer.CongTyCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Email</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Email" value="@(Model.Customer != null ? Model.Customer.EmailCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Địa chỉ</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Address" value="@(Model.Customer != null ? Model.Customer.DiaChiCustomers : ""  )" class="form-control text-box single-line">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




          
            </div>
            <!-- /.row (nested) -->
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <span style="margin-left: 10px; line-height: 33px">Báo giá lần 1</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 form-horizontal">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="date_begin">Ngày bất đầu</label>
                            <div class="col-md-8" style="padding-top: 7px">


                                <input class="form-control date" data-val="true" data-val-date="The field date_begin must be a date." name="BaoGiaTemView.date_begin" value="@DateTime.Now.ToString("MM/dd/yyyy")" type="hidden">
                                @DateTime.Now.ToString("dd/MM/yyyy")

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-4" for="total_money">Tổng tiền</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                <input class="form-control BaoGiaTemView_total_money" data-val="true" data-val-number="The field total_money must be a number." name="BaoGiaTemView.total_money" value="" type="hidden">
                                <span id="BaoGiaTemView_total_money">0</span> đ
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="date_end">Ngày kết thúc</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                <input class="form-control date" data-val="true" data-val-date="The field date_end must be a date." name="BaoGiaTemView.date_end" value="" type="hidden">
                                Chờ cập nhật
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="status">Trạng thái</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                Tạo mới báo giá
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Hoa hồng</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                Chưa cập nhập
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="150px" align="center" valign="middle">

                                    Tên sản phẩm
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    Số lớp
                                </th>
                                <th width="*" align="center" valign="middle">
                                    Loại giấy
                                </th>
                                <th width="230px" align="center" valign="middle">
                                    Quy trình
                                </th>
                               
                                <th width="150px" align="center" valign="middle">
                                    Quy Cách (cm)
                                </th>
                                <th width="130px" class="date_deliver" align="center" valign="middle">
                                    Ngày giao hàng
                                </th>
                                <th width="130px" class="address_deliver" align="center" valign="middle">
                                    Địa chỉ giao hàng
                                </th>
                                <th width="150px" align="center" valign="middle">
                                    Giá
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    Số lượng
                                </th>
                                <th width="80px" align="center" valign="middle">
                                    Làm mẫu
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="body_data">
                            <tr>
                                <td align="center">
                                    <input class="form-control text-box single-line NameProducts1" default-value="" name="NameProducts" type="text">

                                </td>
                                <td align="center">
                                    @*<input class="form-control text-box single-line SolopProducts1" value="1" step="2" default-value="1" min="1" name="SolopProducts" type="number">*@
                                    <select name="SolopProducts" default-value="0" class="form-control valid SolopProducts1">
                                        <option value="0">Chọn số lớp</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="7">7</option>
                                    </select>

                                </td>
                                <td align="center" style="width: 13%">
                                    <select name="LoaigiayProducts" default-value="0" class="form-control valid LoaigiayProducts1">
                                        <option value="0">Chọn loại giấy</option>
                                        <option value="3 lớp: 2 Vàng 1 Xeo">3 lớp: 2 Vàng 1 Xeo</option>
                                        <option value="3 lớp: 1 Trắng 1 Xeo 1 Vàng">3 lớp: 1 Trắng 1 Xeo 1 Vàng</option>
                                        <option value="3 lớp: 1 Đài Loan 1 Xeo 1 Vàng">3 lớp: 1 Đài Loan 1 Xeo 1 Vàng</option>
                                        <option value="5 lớp: 2 Vàng 3 Xeo">5 lớp: 2 Vàng 3 Xeo</option>
                                        <option value="5 lớp: 1 Trắng 1 Vàng 3 Xeo">5 lớp: 1 Trắng 1 Vàng 3 Xeo</option>
                                        <option value="5 lớp: 1 Đài Loan 1 Vàng 3 Xeo">5 lớp: 1 Đài Loan 1 Vàng 3 Xeo</option>
                                        <option value="2 lớp: 1 Vàng 1 Xeo - sóng E">2 lớp: 1 Vàng 1 Xeo - sóng E</option>
                                        <option value="2 lớp: 1 Vàng 1 Xeo - sóng C">2 lớp: 1 Vàng 1 Xeo - sóng C</option>
                                        <option value="2 lớp: 1 Trắng 1 Xeo - sóng E">2 lớp: 1 Trắng 1 Xeo - sóng E</option>
                                    </select>


                                </td>
                                <td align="center" style="width: 10%">
                                    <select name="OffsetFlexoProducts" onchange=" OffsetFlexoProductsUpdate(this); " default-value="Offset" class="form-control">

                                        <option value="FLEXO - BẤM KIM">1 - FLEXO - BẤM KIM</option>
                                        <option value="FLEXO - DÁN">2 - FLEXO - DÁN</option>
                                        <option value="FLEXO - Bế">3 - FLEXO - Bế</option>
                                        <option value="FLEXO - Bế - DÁN">4 - FLEXO - Bế - DÁN</option>
                                        <option value="OFFSET -Bế - BK">5 - OFFSET -Bế - BK</option>
                                        <option value="OFFSET - Bế - DÁN">6 - OFFSET - Bế - DÁN</option>
                                    </select>
                                </td>
                             
                                <td align="center" style="width: 15%">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <input class=" text-box single-line QuyCachProducts1dai cusinputsmall" default-value=""  type="text">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class=" text-box single-line QuyCachProducts1rong cusinputsmall" default-value=""  type="text">
                                        </div>
                                        <div class="col-lg-3">
                                            <input class="text-box single-line QuyCachProducts1cao cusinputsmall" default-value="" type="text">
                                            <input class="form-control text-box single-line QuyCachProducts cusinputsmall hidden" default-value="" name="QuyCachProducts" type="text">
                                        </div>
                                    </div>



                                </td>
                                <td align="center" class="date_deliver">
                                    <input class="form-control  date" default-value="" name="date_deliver" type="text">
                                </td>
                                <td align="center" class="address_deliver">
                                    <input class="form-control" default-value="" name="address_deliver" type="text">
                                </td>
                                <td align="center">
                                    <input class="form-control text-box single-line GiaProducts1" name="GiaProducts" step="500" min="0" default-value="0" value="0" type="number">

                                </td>
                                <td align="center">
                                    <input class="form-control text-box single-line" default-value="1" min="1" name="SoLuong" value="1" type="number">
                                </td>
                                <td align="center">
                                    <select name="Design" default-value="0" class="form-control">
                                        <option value="0">Không</option>
                                        <option value="1">Có</option>
                                    </select>
                                </td>
                                <td align="center"><input type="submit" style="float: left; margin-left: 10px" value="Thêm" class="btn btn-primary" onclick=" updateProduct(this); return false; " /></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.col-lg-12 -->
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group" style="text-align: center">
                <input type="submit" value="Tạo báo giá" class="btn btn-primary" />
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .table td { text-align: center; }

    .table th { text-align: center; }

    .tr_edit > td { line-height: 34px !important; }

    .DanKimProducts { display: none; }
</style>
