@model NhutLongCompany.Models.tbl_OrderTem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_OrderTem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Hủy", "Index")
</p>
