@using NhutLongCompany.Models
@model DonHangView

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> </h2>


<script type="text/javascript">
    function OffsetFlexoProductsUpdate(el) {
        if (el.value == 'FLEXO - BẤM KIM') {
            $('#DanKimProducts').val("Bấm kim");
        }
        if (el.value == 'FLEXO - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }
        if (el.value == 'FLEXO - Bế') {
            $('#DanKimProducts').val("");
        }
        if (el.value == 'FLEXO - Bế - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }
        if (el.value == 'OFFSET -Bế - BK') {
            $('#DanKimProducts').val("Bấm kim");
        }
        if (el.value == 'OFFSET - Bế - DÁN') {
            $('#DanKimProducts').val("Dán keo");
        }

    }
    function UpdateTK() {
        if ($('#date_tk').val() == "") {
            alert("Vui lòng chọn ngày!");
            return;
        }
        var data = new FormData();
        data.append('id', $('#id_tk').val());
        data.append('date', $('#date_tk').val());


        //if ($('#image_tk').val() != "") {
        //    if (document.getElementById('image_tk').files.length > 0) {
        //        data.append('file', document.getElementById('image_tk').files[0]);
        //    }
        //}
        if ($('#ddlChonmau').val() == "4") {
            data.append('loai', $('#txtTex').val());
        } else {
            data.append('loai', $('#ddlChonmau').val());
        }

        $.ajax({
            url: '@Url.Action("UpdateDesign", "tbl_OrderTem")',
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            // contentType: 'multipart/form-data; charset=utf-8',
            data: data,
            success: function(result) {
                alert('Cập nhật thàn công!');
                var text = reformatDate($('#date_tk').val());
                //if ($('#image_tk').val() != "") {+ $('#image_tk').val()
                //if (document.getElementById('image_tk').files.length > 0) {
                //var text = '<a href="/Upload/ThietKe/' + $('#id_tk').val() + '_'  + '" target="_blank">' + reformatDate($('#date_tk').val()) + '</a>';

                // }
                //}
                $('#id_update_tk_' + $('#id_tk').val()).html(text);
                $('#id_update_tk_' + $('#id_tk').val() + "_value").val(2);
                $('#modal-container-tk').modal('hide');
                $('#id_tk').val("");
                $('#date_tk').val("");
                // $('#image_tk').val("");
            },
            error: function() {
                alert('Cập nhật thất bại!');
            }
        });
    }

    function UpdatePopupViewTK(el, id) {
        $('#id_tk').val(id);
    }

    function numberParse(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function reformatDate(strMMDDYYYY) {
        var arr = strMMDDYYYY.split("/");
        if (arr.length == 3) {
            return arr[1] + "/" + arr[0] + "/" + arr[2];
        }
        return strMMDDYYYY;
    }
    function updateproductBaoGia()
    {
        $("#action").val(4);
        document.forms[0].submit();
    }
    function UpdateResultBaoGia(status) {

        if (status == 1) {
            var ck = true;
            $('.input_tk_value').each(function() {
                if ($(this).val() == "1") {
                    ck = false;
                    return;
                }
            });
            if (!ck) {
                alert("Vui lòng cập nhập tất cả Làm mẫu!");
                $('#modal-container').modal('hide');
                return;
            }
            if ($('#date_deliver').val() == "") {
                alert("Vui lòng chọn ngày giao hàng!");
                return;
            }
            if ($('#address_deliver').val() == "") {
                alert("Vui lòng chọn địa chỉ giao hàng!");
                return;
            }

        }
        $('#baogia_status').val(status);
        $("#action").val(3);
        document.forms[0].submit();

    }

    function AddNewBaoGia() {
        $("#action").val(1);
        document.forms[0].submit();
    }

    function SubmitAddNewBaoGia() {
        $("#action").val(2);
        document.forms[0].submit();
    }

    function UpdateStatusOrder(status) {

        $('#status').val(status);
        $("#action").val(4);
        document.forms[0].submit();
    }

    $(document).ready(function() {
        updateEvent();
       

    });
    function updateProduct(el) {

       
        var m = 0;
        if ($('.NameProducts1').val() == '') {
            $('.lblNameProducts').addClass('hidden');
            $('.NameProducts1').after('<label class="errorLabel lblNameProducts">Nhập tên sản phẩm</label>');

            m++;
        } else {
            $('.lblNameProducts').addClass('hidden');
        }

        if ($('.QuyCachProducts1dai').val() == '') {
            $('.lblQuyCachProductsdai').addClass('hidden');
            $('.QuyCachProducts1dai').after('<label class="errorLabel lblQuyCachProductsdai">Nhập dài</label>');
            m++;
        } else {
            $('.lblQuyCachProducts').addClass('hidden');
        }
        if ($('.QuyCachProducts1rong').val() == '') {
            $('.lblQuyCachProductsrong').addClass('hidden');
            $('.QuyCachProducts1rong').after('<label class="errorLabel lblQuyCachProductsrong">Nhập rộng</label>');
            m++;
        } else {
            $('.lblQuyCachProducts').addClass('hidden');
        }
        if ($('.QuyCachProducts1cao').val() == '') {
            $('.lblQuyCachProductscao').addClass('hidden');
            $('.QuyCachProducts1cao').after('<label class="errorLabel lblQuyCachProductscao">Nhập cao</label>');
            m++;
        } else {
            $('.lblQuyCachProductscao').addClass('hidden');
        }

        if ($('.SolopProducts1').val() <= 0) {
            $('.lblSolopProducts').addClass('hidden');
            $('.SolopProducts1').after('<label class="errorLabel lblSolopProducts">Chọn số lớp</label>');
            m++;
        } else {
            $('.lblSolopProducts').addClass('hidden');
        }
        if ($('.GiaProducts1').val() <= 0) {
            $('.lblGiaProducts').addClass('hidden');
            $('.GiaProducts1').after('<label class="errorLabel lblGiaProducts">Giá phải lớn hơn 0</label>');
            m++;
        } else {
            $('.lblGiaProducts').addClass('hidden');
        }
        if ($('.LoaigiayProducts').val() =="") {
            $('.lblLoaigiayProducts').addClass('hidden');
            $('.LoaigiayProducts').after('<label class="errorLabel lblSolopProducts">Chọn loại giấy</label>');
            m++;
        } else {
            $('.lblLoaigiayProducts').addClass('hidden');
        }
        if ($('.LoaiSongProducts1').val() == "") {
            $('.lblLoaiSongProducts').addClass('hidden');
            $('.LoaiSongProducts1').after('<label class="errorLabel lblLoaigiayProducts">Chọn loại sóng</label>');
            m++;
        } else {
            
            $('.lblLoaiSongProducts').addClass('hidden');
        }
        if ($('.InFlexoProducts1').val() == "0") {
            $('.lblInFlexoProducts').addClass('hidden');
            $('.InFlexoProducts1').after('<label class="errorLabel lblLoaigiayProducts">Chọn loại In Flexo</label>');
            m++;
        } else {
            $('.lblInFlexoProducts').addClass('hidden');
        }
        
       
        if (m == 0) {

            $('.lblNameProducts').addClass('hidden');
            $('.lblQuyCachProductsdai').addClass('hidden');
            $('.lblQuyCachProductsrong').addClass('hidden');
            $('.lblQuyCachProductscao').addClass('hidden');
            $('.lblGiaProducts').addClass('hidden');
            $('.lblSolopProducts').addClass('hidden');
            $('.lblLoaiSongProducts').addClass('hidden');
            $('.lblLoaigiayProducts').addClass('hidden');
            $('.lblInFlexoProducts').addClass('hidden');
            var id = new Date().getTime();
            //var dai = $('.QuyCachProducts1dai').val();
            //var rong = $('.QuyCachProducts1rong').val();
            //var cao = $('.QuyCachProducts1cao').val();
            //var qc = dai + ' x ' + rong + ' x ' + cao;
            //$('.QuyCachProducts').val(qc);
            var tr = $(el).parents('tr').eq(0);
            var trdata = "<tr class='tr_edit' id='ext_" + id + "'><input name='BaoGiaTemView.BaoGiaTemDetailViews.Index' value='" + id + "' type='hidden'/><input name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "].ID_Products' value='' type='hidden'/>";
            tr.find('.dataSubmit').each(function() {


                if ($(this).attr('name') == 'SoLuong') {
                    trdata += "<td class='" + this.name + "'><input class='form-control text-box single-line updateSL " + this.name + "'  min='1' value='" + this.value + "' type='number' name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "]." + this.name + "'/></td>";
                } else {
                    var text = this.value;
                    if ($(this).attr('name') == 'GiaProducts') {
                        text = numberParse(this.value) + " đ";
                    }
                    if ($(this).attr('name') == 'Design') {
                        text = this.value == 1 ? "có" : "không";
                    }


                    trdata += "<td class='" + this.name + "'>" + text + "<input class='" + this.name + "' name='BaoGiaTemView.BaoGiaTemDetailViews[" + id + "]." + this.name + "' value='" + this.value + "' type='hidden'/></td>";
                }
                this.value = $(this).attr('default-value');
            });
            trdata += "<td ><input type='submit' style='float: left; margin-left: 10px' value='Xóa' class='btn btn-primary' onclick='delProduct(this); return false;' /></td></tr>";
            $(el).parents('tbody').eq(0).append(trdata);
            updateMoney(el);
            updateEvent();

        }


    }
    function updateEvent() {
        $('.updateSL').on("change", function() {
          
            updateMoney(this);
        });
        $("input[type=number]").keydown(function(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    }

    function delProduct(el) {
        var tr = $(el).parents('tr').eq(0);
        tr.remove();
        updateMoney(el);
        updateEvent();
    }

    function updateMoney(el) {
        var money = 0;
        $(el).parents('.body_data').eq(0).find('tr').each(function() {
            if ($(this).attr('id') != null) {

                money += parseInt($(this).find('.SoLuong').eq(0).val()) * parseFloat($(this).find('.GiaProducts').eq(0).val());
            }
        });
        $('.BaoGiaTemView_total_money').val(money);
        $('#BaoGiaTemView_total_money').text(numberParse(money));
    }

</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    <div class="panel panel-default">
        <div class="panel-heading">
            Chỉnh sửa báo giá
        </div>
        <div class="panel-body">
            <div class="row form-horizontal">
                <input type="hidden" value="@Model.action" name="action" id="action">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Mã báo giá</label>
                        <div class="col-md-8" style="padding-top: 7px">
                            @Html.HiddenFor(model => model.code)
                            @Model.code
                            @Html.HiddenFor(model => model.customer_id)
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Trạng thái</label>
                        <div class="col-md-8" style="padding-top: 7px">
                            @Html.HiddenFor(model => model.status)
                            @if (Model.status == -1)
                            {
                                <span>Đang báo giá</span>
                            }

                            @if (Model.status == 0)
                            {
                                <span>Hoàn thành báo giá</span>
                            }
                            @if (Model.status == 1)
                            {
                                <span>Đưa vào sản xuất</span>
                            }
                            @if (Model.status == 2)
                            {
                                <span>Kế hoạch sản xuất</span>
                            }
                            @if (Model.status == 3)
                            {
                                <span>Tiến hành sản xuất</span>
                            }
                            @if (Model.status == 4)
                            {
                                <span>Kết thúc sản xuất</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Ngày giao hàng</label>
                        <div class="col-md-8" style="padding-top: 7px">

                            @(Model.date_deliver.HasValue ? Model.date_deliver.Value.ToString("MM/dd/yyyy") : "Chưa cập nhập")

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Địa chỉ giao hàng</label>
                        <div class="col-md-8" style="padding-top: 7px">
                            @(!String.IsNullOrEmpty(Model.address_deliver) ? Model.address_deliver : "Chưa cập nhập")

                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Thông tin khách hàng</label>
                        <div class="col-md-10" style="padding-top: 7px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        @Html.HiddenFor(model => model.customer_id)
                                        <span style="padding-left: 7px">@Model.Customer.NameCustomers</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12 form-horizontal">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Mã số</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled class="form-control text-box single-line valid" value="@(Model.Customer != null ? Model.Customer.CodeCustomers : ""  )" id="customer_id_MS">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Công ty</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Cty" value="@(Model.Customer != null ? Model.Customer.CongTyCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Email</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Email" value="@(Model.Customer != null ? Model.Customer.EmailCustomers : ""  )" class="form-control text-box single-line valid">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-md-4">Địa chỉ</label>
                                                    <div class="col-md-8">
                                                        <input type="text" disabled id="customer_id_Address" value="@(Model.Customer != null ? Model.Customer.DiaChiCustomers : ""  )" class="form-control text-box single-line">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


          
            </div>
            <!-- /.row (nested) -->
        </div>
    </div>


 


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <span style="margin-left: 10px; line-height: 33px">Báo giá lần @(Model.BaoGiaTemViews.Count + 1)</span>
               
                @Html.ActionLink("In báo giá", "PrintOrder", new {Model.BaoGiaTemView.id}, new {@class = "btn btn-primary",  @style = "float: right; margin-right: 10px"})
               
              
                @if (Model.BaoGiaTemView.status.Value == 2 && Model.action == 0)
                {
                    <input type="submit" style="float: right; margin-right: 10px" value="Thêm mới báo giá" class="btn btn-primary" onclick=" AddNewBaoGia(); return false; " />
                }
                                                      
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 form-horizontal">
                    <div class="col-lg-6 ">

                        <div class="form-group">
                            <label class="control-label col-md-4" for="date_begin">Ngày bất đầu</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @Model.BaoGiaTemView.date_begin.Value.ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="form-group ">

                            <label class="control-label col-md-4" for="total_money">Tổng tiền</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                <input class="form-control BaoGiaTemView_total_money" data-val="true" data-val-number="The field total_money must be a number." name="BaoGiaTemView.total_money" value="@Model.BaoGiaTemView.total_money.Value" type="hidden">
                                <span id="BaoGiaTemView_total_money">@(Model.BaoGiaTemView.total_money.Value.ToString("n2"))</span> đ
                              
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <label class="control-label col-md-4" for="date_end">Ngày kết thúc</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @if (Model.BaoGiaTemView.date_end.HasValue)
                                {
                                    @Model.BaoGiaTemView.date_end.Value.ToString("dd/MM/yyyy")
                                }
                                else
                                {
                                    <span>Chờ cập nhật</span>
                                }
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-md-4" for="status">Trạng thái</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @if (Model.BaoGiaTemView.status == 0)
                                {
                                    <span>Chờ kết quả báo giá</span>
                                }
                                @if (Model.BaoGiaTemView.status == 1)
                                {
                                    <span>Đồng ý</span>
                                }
                                @if (Model.BaoGiaTemView.status == 2)
                                {
                                    <span>Từ chối</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Hoa hồng</label>
                            <div class="col-md-8" style="padding-top: 7px">
                                @(Model.BaoGiaTemView.commission.HasValue ? (Model.BaoGiaTemView.commission.Value == 1 ? "Có" : "Không") : "Chưa cập nhật")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="min-width:1600px;">
                <div class="col-lg-12">


                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="150px" align="center" valign="middle">

                                    Tên sản phẩm
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    Số lớp
                                </th>
                                <th width="*" align="center" valign="middle">
                                    Loại giấy
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    Loại sóng
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    In Flexo
                                </th>
                                <th width="230px" align="center" valign="middle">
                                    Quy trình
                                </th>

                                <th width="150px" align="center" valign="middle">
                                    Quy Cách (cm)
                                </th>

                                <th width="150px" align="center" valign="middle">
                                    Giá
                                </th>
                                <th width="100px" align="center" valign="middle">
                                    Số lượng
                                </th>
                                <th width="120px" align="center" valign="middle">
                                    Làm mẫu
                                </th>
                                <th width="80px"></th>
                            </tr>
                        </thead>
                        <tbody class="body_data">
                            @foreach (BaoGiaTemDetailView item in Model.BaoGiaTemView.BaoGiaTemDetailViews)
                            {
                                <tr id="@item.id">
                                    @*<td>@item.NameProducts</td>*@

                                    <td>
                                        <input type="hidden" name="BaoGiaTemView.BaoGiaTemDetailViews.Index" value="@item.id" />
                                        <input type="text" class="form-control text-box single-line dataSubmit NameProducts1" value="@item.NameProducts" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].NameProducts">
                                    </td>
                                    <td>

                                        <select id="SolopProducts_@item.id" onchange="onSolopProductsSelect(this,this.value);" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].SolopProducts" class="form-control dataSubmit valid SolopProducts SolopProducts1">
                                            <option value="0">Chọn số lớp</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="5">5</option>
                                            <option value="7">7</option>
                                        </select>
                                        <script type="text/javascript">
                                        function onSolopProductsSelect(el, val) {
                                            $('.LoaigiayProductCls').css('display', 'none');
                                            for (var i = 0; i < parseInt(val) ; i++) {
                                                $('.LoaigiayProducts' + i).css('display', '');
                                            }
                                            updateValue();
                                        }
                                        function updateValue() {
                                            var solop = $('.SolopProducts1').eq(0).val();
                                            var value = "";
                                            for (var i = 0; i < parseInt(solop) ; i++) {
                                                if ($('.LoaigiayProducts' + i).css('display') != 'none') {
                                                    value += $('.LoaigiayProducts' + i).eq(0).val() + "-";
                                                }
                                            }
                                            if (value.length > 0) {
                                                value = value.substr(0, value.length - 1);
                                            }
                                            $('.LoaigiayProducts').eq(0).val(value);
                                            $('.LoaigiayProducts_Text').eq(0).text(value);

                                        }
                                        </script>
                                        <script>
                                            document.getElementById("SolopProducts_@item.id").value=@item.SolopProducts.Value;
                                        </script>
                                    </td>
                                    <td>





                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    <table style="margin: 0 auto;">
                                                        <tr>
                                                            @for (int i = 0; i < 4; i++)
                                                            {
                                                                <td width="*">
                                                                    <select id="LoaigiayProducts_@(item.id)_@(i)" onchange="updateValue();" default-value="0" style="max-width:100px ;display:none;" class="form-control LoaigiayProductCls LoaigiayProducts@(i)">

                                                                        <option value="Trắng">Trắng</option>
                                                                        <option value="Vàng">Vàng</option>
                                                                        <option value="Xeo">Xeo</option>
                                                                        <option value="Vàng ĐL">Vàng ĐL</option>
                                                                        <option value="Vàng KT">Vàng KT</option>
                                                                        <option value="Vàng KP">Vàng KP</option>
                                                                    </select>
                                                                </td>
                                                            }
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="margin: 0 auto;">
                                                        <tr>
                                                            @for (int i = 4; i < 8; i++)
                                                            {
                                                                <td width="*" align="center">
                                                                    <select id="LoaigiayProducts_@(item.id)_@(i)" onchange="updateValue();" default-value="0" style="width:100% ;display:none;" class="form-control LoaigiayProductCls LoaigiayProducts@(i)">

                                                                        <option value="Trắng">Trắng</option>
                                                                        <option value="Vàng">Vàng</option>
                                                                        <option value="Xeo">Xeo</option>
                                                                        <option value="Vàng ĐL">Vàng ĐL</option>
                                                                        <option value="Vàng KT">Vàng KT</option>
                                                                        <option value="Vàng KP">Vàng KP</option>
                                                                    </select>
                                                                </td>
                                                            }
                                                        </tr>
                                                    </table>

                                                </td>



                                            </tr>
                                            <tr>
                                                <td colspan="10">
                                                    <p class="LoaigiayProducts_Text">@item.LoaigiayProducts</p>
                                                </td>
                                            </tr>
                                        </table>
                                        @if (!String.IsNullOrWhiteSpace(item.LoaigiayProducts))
                                        {
                                            for (int i = 0; i < item.LoaigiayProducts.Split('-').Length; i++)
                                            {
                                                <script type="text/javascript">
                                                    document.getElementById('LoaigiayProducts_@(item.id)_@(i)').value=decodeURI('@(Server.UrlEncode( item.LoaigiayProducts.Split('-')[i]))').replace(/[.+]/g, " ");
                                                    document.getElementById('LoaigiayProducts_@(item.id)_@(i)').style.display="";
                                                </script>

                                            }
                                        }

                                       
                                       
                                        <input class="form-control text-box single-line dataSubmit LoaigiayProducts" value="@item.LoaigiayProducts" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].LoaigiayProducts" default-value="" type="hidden">

                                    </td>
                                    <td align="center">
                                      
                                        <select id="LoaiSongProducts_@item.id" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].LoaiSongProducts" default-value="" class="form-control valid LoaiSongProducts1 dataSubmit">
                                            <option value="">Chọn số lớp</option>
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="E">E</option>
                                            <option value="A-B">A-B</option>
                                            <option value="A-C">A-C</option>
                                            <option value="A-E">A-E</option>
                                            <option value="B-C">B-C</option>
                                            <option value="B-E">B-E</option>
                                            <option value="C-E">C-E</option>
                                            <option value="A-B-E">A-B-E</option>
                                        </select>
                                        <script>

                                            document.getElementById("LoaiSongProducts_@item.id").value= decodeURI('@Server.UrlEncode(item.LoaiSongProducts)');

                                        </script>
                                    </td>
                                    <td align="center">
                                        @*<input class="form-control text-box single-line SolopProducts1" value="1" step="2" default-value="1" min="1" name="SolopProducts" type="number">*@
                                        <select id="InFlexoProducts_@item.id" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].InFlexoProducts" default-value="0" class="form-control valid InFlexoProducts1 dataSubmit">
                                            <option value="0">Chọn số lớp</option>
                                            <option value="1">1 màu</option>
                                            <option value="2">2 màu</option>
                                            <option value="3">3 màu</option>
                                            <option value="4">4 màu</option>
                                            <option value="5">5 màu</option>

                                        </select>
                                        <script>

                                            document.getElementById("InFlexoProducts_@item.id").value= '@item.InFlexoProducts';

                                        </script>
                                    </td>
                                    <td>
                                        <select id="OffsetFlexoProducts_@item.id" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].OffsetFlexoProducts" onchange="OffsetFlexoProductsUpdate(this); " default-value="Offset" class="form-control dataSubmit">

                                            <option value="FLEXO - BẤM KIM">1 - FLEXO - BẤM KIM</option>
                                            <option value="FLEXO - DÁN">2 - FLEXO - DÁN</option>
                                            <option value="FLEXO - Bế">3 - FLEXO - Bế</option>
                                            <option value="FLEXO - Bế - DÁN">4 - FLEXO - Bế - DÁN</option>
                                            <option value="OFFSET -Bế - BK">5 - OFFSET -Bế - BK</option>
                                            <option value="OFFSET - Bế - DÁN">6 - OFFSET - Bế - DÁN</option>
                                        </select>

                                        <script>
                                            document.getElementById("OffsetFlexoProducts_@item.id").value = decodeURI('@Server.UrlEncode( item.OffsetFlexoProducts)').replace(/[.+]/g, " ");

                                        </script>
                                    </td>


                                    <td align="center">
                                        <input class="form-control text-box single-line QuyCachProducts dataSubmit" value="@item.QuyCachProducts" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].QuyCachProducts" type="text">
                                    </td>

                                    <td><input type="number" min="0" step="500" class="form-control text-box single-line GiaProducts updateSL dataSubmit" value="@item.GiaProducts" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].GiaProducts"></td>
                                    <td><input type="number" name="BaoGiaTemView.BaoGiaTemDetailViews[@item.id].SoLuong" value="@item.SoLuong" min="1" class="form-control text-box single-line updateSL SoLuong dataSubmit"></td>

                                    @*<td>@double.Parse(item.GiaProducts).ToString("n2") đ</td>
                                        <td>
                                            @item.SoLuong
                                            <input id="id_update_tk_@(item.id)_value" class="input_tk_value" type="hidden" value="@(item.Design.HasValue ? (item.Design.Value + "") : "0")" />
                                        </td>*@
                                    <td id="id_update_tk_@item.id">
                                        @if (!item.Design.HasValue || item.Design.Value == 0)
                                        {
                                            @("Không")
                                        }
                                        else if (item.Design.Value == 2)
                                        {
                                            <button type="button" class="btn btn-info btn-outline btn-sm" data-toggle="modal" data-target="#chitietmau_@(item.id)">Chi tiết mẫu</button>
                                            @*if (!String.IsNullOrEmpty(item.Design_Img))
                                                {
                                                    <a href="/Upload/ThietKe/@(item.id)_@(item.Design_Img)" target="_blank">@item.Design_Date.Value.ToString("dd/MM/yyyy")</a>

                                                }
                                                else
                                                {
                                                    @(item.Design_Date.HasValue ? item.Design_Date.Value.ToString("dd/MM/yyyy") : "Chưa update")
                                                }*@
                                        }
                                        else
                                        {
                                            <input type="button" onclick="UpdatePopupViewTK(this, @item.id);return false; " class="btn btn-primary" value="Update" data-target="#modal-container-tk" data-toggle="modal">
                                        }




                                    </td>
                                    <td><input type="submit" value="Save" class="btn btn-default" onclick="updateproductBaoGia();" /></td>
                                </tr>
                                <!-- Modal -->
                                <div id="chitietmau_@(item.id)" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                               
                                                <h4 class="modal-title">Chi tiết mẫu</h4>
                                            </div>
                                            <div class="modal-body">
                                                @*<div class="form-group">

                                                    <label class="control-label col-md-4" >Hình</label>
                                                    <div class="col-md-8" style="padding-top: 7px">
                                                        <a href="/Upload/ThietKe/@(item.Design_Img)" target="_blank">
                                                       
                                                            <img src="/Upload/ThietKe/@(item.Design_Img)" height="100" width="100"  />
                                                        </a>
                                                    </div>

                                                </div>*@
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Ngày làm mẫu</label>
                                                    <div class="col-md-8" style="padding-top: 7px">
                                                        @(item.Design_Date.HasValue ? item.Design_Date.Value.ToString("dd/MM/yyyy") : "Chưa update")
                                                    </div>

                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4">Loại Mẫu</label>
                                                    <div class="col-md-8" style="padding-top: 7px">
                                                     
                                                        @if (String.IsNullOrEmpty(item.loai_design) || item.loai_design == "0")
                                                        {
                                                            @("Không có mẫu")
                                                        }
                                                        @if (item.loai_design == "1")
                                                        {
                                                            @("Mẫu thiết kế")
                                                        }
                                                        @if (item.loai_design == "2")
                                                        {
                                                            @("Mẫu thùng")
                                                        }
                                                        @if (item.loai_design == "3")
                                                        {
                                                            @("Mẫu thùng và thiết kế")
                                                        }
                                                        else
                                                        {
                                                            @item.loai_design
                                                        }
                                                    </div>

                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
    </div>
    <!-- Trigger the modal with a button -->
    for (int i = 0; i < Model.BaoGiaTemViews.Count; i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <span style="margin-left: 10px; line-height: 33px">Báo giá lần @(Model.BaoGiaTemViews.Count - i)</span>

                    @Html.ActionLink("In báo giá", "PrintOrder", new {Model.BaoGiaTemViews[i].id}, new {@class = "btn btn-primary",  @style = "float: right; margin-right: 10px"})




                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 form-horizontal">
                        <div class="col-lg-6 ">

                            <div class="form-group">
                                <label class="control-label col-md-4" for="date_begin">Ngày bất đầu</label>
                                <div class="col-md-8" style="padding-top: 7px">
                                    @Model.BaoGiaTemViews[i].date_begin.Value.ToString("dd/MM/yyyy")
                                </div>
                            </div>
                            <div class="form-group ">

                                <label class="control-label col-md-4" for="total_money">Tổng tiền</label>
                                <div class="col-md-8" style="padding-top: 7px">
                                    @Model.BaoGiaTemViews[i].total_money.Value.ToString("n2") đ
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 ">
                            <div class="form-group">

                                <label class="control-label col-md-4" for="date_end">Ngày kết thúc</label>
                                <div class="col-md-8" style="padding-top: 7px">
                                    @if (Model.BaoGiaTemViews[i].date_end.HasValue)
                                    {
                                        @Model.BaoGiaTemViews[i].date_end.Value.ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {
                                        <span>Chờ cập nhật</span>
                                    }

                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-4" for="status">Trạng thái</label>
                                <div class="col-md-8" style="padding-top: 7px">
                                    @if (Model.BaoGiaTemViews[i].status == 0)
                                    {
                                        <span>Chờ kết quả báo giá</span>
                                    }
                                    @if (Model.BaoGiaTemViews[i].status == 1)
                                    {
                                        <span>Đồng ý</span>
                                    }
                                    @if (Model.BaoGiaTemViews[i].status == 2)
                                    {
                                        <span>Từ chối</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">Hoa hồng</label>
                                <div class="col-md-8" style="padding-top: 7px">
                                    @(Model.BaoGiaTemViews[i].commission.HasValue ? (Model.BaoGiaTemViews[i].commission.Value == 1 ? "Có" : "Không") : "Chưa cập nhật")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Tên sản phẩm
                                    </th>
                                    <th>
                                        Số lớp
                                    </th>
                                    <th>
                                        Loại giấy
                                    </th>
                                    <th>
                                        Quy trình
                                    </th>
                                    @*<th>
                                        Dán/Kim
                                    </th>*@
                                    <th>
                                        Quy Cách (cm)
                                    </th>
                                    <th width="130px" class="date_deliver" align="center" valign="middle">
                                       Giao hàng sau (ngày)
                                    </th>
                                    <th width="130px" class="address_deliver" align="center" valign="middle">
                                        Địa chỉ giao hàng
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Làm mẫu
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="body_data">
                                @foreach (BaoGiaTemDetailView item in Model.BaoGiaTemViews[i].BaoGiaTemDetailViews)
                                {
                                    <tr>
                                        <td>@item.NameProducts</td>
                                        <td>@item.SolopProducts</td>
                                        <td>@item.LoaigiayProducts</td>
                                        <td>@item.OffsetFlexoProducts</td>
                                        @*<td>@item.DanKimProducts</td>*@
                                        <td>@item.QuyCachProducts</td>
                                        <td>@item.datenumber</td>
                                        <td>@item.address_deliver</td>
                                        <td>@double.Parse(item.GiaProducts).ToString("n2") đ</td>
                                        <td>@item.SoLuong</td>
                                        <td>
                                            @if (!item.Design.HasValue || item.Design.Value == 0)
                                            {
                                                @("Không")
                                            }
                                            else if (item.Design.Value == 2)
                                            {
                                                <button type="button" class="btn btn-info btn-outline btn-sm" data-toggle="modal" data-target="#chitietmau">Chi tiết</button>

                                                @*if (!String.IsNullOrEmpty(item.Design_Img))
                                                {
                                                    }
                                                else
                                                {
                                                    @item.Design_Date.Value.ToString("dd/MM/yyyy")
                                                }*@
                                            }
                                            else
                                            {
                                                @("Chưa cập nhập")
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
        </div>
    }

    <!-- Modal -->
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Cập nhật kết quả báo giá
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usr">Ngày giao hàng :</label>
                        @Html.EditorFor(model => model.date_deliver, new {htmlAttributes = new {@class = "form-control date"}})
                    </div>
                    <div class="form-group">
                        <label for="usr">Địa chỉ giao hàng :</label>
                        @Html.EditorFor(model => model.address_deliver, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                    <div class="form-group">
                        <label for="usr">Commission :</label>
                        <label class="radio-inline"><input name="BaoGiaTemView.commission" type="radio" checked="checked" value="0"> Không</label>
                        <label class="radio-inline"><input name="BaoGiaTemView.commission" type="radio" value="1"> Có</label>
                    </div>
                    <div class="form-group">
                        <label for="usr">Ghi chú :</label>
                        <textarea class="form-control" name="BaoGiaTemView.note" placeholder="Try to input multiple lines here...">@Model.BaoGiaTemView.note</textarea>
                    </div>

                    <input type="hidden" id="baogia_status" name="BaoGiaTemView.status" value="@Model.BaoGiaTemView.status" />
                    <input type="hidden" id="baogia_id" name="BaoGiaTemView.id" value="@Model.BaoGiaTemView.id" />
                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button class="btn btn-primary" onclick=" UpdateResultBaoGia(1); return false; ">Đồng ý</button>
                        <button class="btn btn-danger" onclick=" UpdateResultBaoGia(2); return false; ">Từ chối</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-container-tk" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="width: 400px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Cập nhật Làm mẫu
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input id="id_tk" type="hidden" value="" />
                        <label for="usr">Ngày giao Làm mẫu :</label>
                        <input type="datetime" value="" id="date_tk" name="date_tk" class="form-control date text-box single-line">
                    </div>

                    <div class="form-group">
                        <label>Chọn Làm mẫu :</label>
                        <select id="ddlChonmau" class="form-control">
                            <option value="0">Không</option>
                            <option value="1">Mẫu thiết kế</option>
                            <option value="2">Mẫu thùng</option>
                            <option value="3">Mẫu thùng và thiết kế</option>
                            <option value="4">Khác</option>
                        </select>
                    </div>
                    <div class="form-group hidden custex">
                        <label>Ghi chú:</label>
                        <input type="text" class="form-control" id="txtTex" name="txtNTex">
                    </div>
                    @*<div class="form-group">
                        <label for="pwd">Hình Làm mẫu :</label>
                        <input type="file" id="image_tk" accept="image/*" name="image_tk">
                    </div>*@

                </div>
                <div class="modal-footer">
                    <div class="bootstrap-dialog-footer-buttons">
                        <button class="btn btn-primary" onclick=" UpdateTK();return false; ">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <script>
                    $('#ddlChonmau').change(function() {
                        var vl = $('#ddlChonmau').val();
                        if (vl == "4") {
                            $('.custex').removeClass('hidden');
                        } else {
                            $('.custex').addClass('hidden');
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <!-- Trigger the modal with a button -->
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .table td { text-align: center; }

    .table th { text-align: center; }

    .tr_edit > td { line-height: 34px !important; }
</style>
